* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background-image: url("Images/Irish Flag.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}


.header {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}


ul {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: lightgrey;
  opacity: 0.5;
  justify-content: center;
  flex-wrap: wrap;
  }


li a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  border-right:1px solid #bbb;
}


li a:hover {
  color: orange;
  opacity: 2.0;
}

li:last-child {
  border-right: none;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

div.gallery {
  border: 1px solid #ccc;
  justify-items: center;

  }

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  }

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  justify-content: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

 picture > img  {
  width: 500px;
  height: 500px;
  object-fit: scale-down;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 img  {
  width: 500px;
  height: 500px;
  object-fit: scale-down;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-indent: initial;
  text-align: center;
  margin: 0px;
  flex-wrap: wrap;
  word-spacing: normal;

  
}

p {
  text-align: center;
  display: flex;
  text-decoration: none;
  vertical-align: text-bottom;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
      .col-25, .col-75, input[type=submit] {
      width: 50%;
      margin-top: 0;

      }
    
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }


