@media only screen and (max-width: 600px)

main {
    display: flex;
}

aside {
    margin-left: 2%;

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
  }
  
 div ul {
    float: left;
  }
  
  ul a {
    display: block;
    color:red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul a:hover {
    background-color: #111;
  }

  body {
    background-image: url(Irish Flag.jpg);
    border-image-width: 100;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: flex;